<!DOCTYPE html>
<html ng-app="itemApp">

  <head>
    <meta charset="utf-8">
    <title>Grocery List</title>
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    <link rel="icon" href="groc.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="animatemenu.js"></script>
  </head>

  <body ng-controller="ItemController">
    <div class="top">
      <div class="menupic">
        <img src="menubutton.png"></img>
      </div>
      <h1><b><i>My Grocery List</i></b></h1>
    </div>
    <form id="Groceries" ng-submit="addItem()" ng-hide="editing">
        <input type="text"
               ng-model="item.name"
               placeholder="Enter Item"
               required>

        <button type="submit" class="button">Add Item</button>
    </form>
    <!-- everytime we submit the form, it'll build the ist items and stick them in the ul -->
    <!-- command slash is how you comment in ~**ANYTHING**~ -->
    <div>
      <ul ng-cloak>
        <li ng-repeat="item in items track by $index">
          <span ng-bind="item.name"></span>
          <a href="#" ng-click="editItem(item)">(edit)</a>
          <a href="#" ng-click="removeItem($index)">(remove)</a>
        </li>
      </ul>
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->

  </body>
</html>
<!-- have class name that uses little curly braces and then in stylesheet make it so that anything with that class gets striked out -->
